@*@{
    ViewBag.Title = "Home Page";
}

<div id="WebMenu">
    
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Home/FoodMenu',
            type: 'get',
            success: function (html) {
                $("#WebMenu").html(html)

                $("#selectCate").click(function () {
                    var id = $(this).find(cateId).html();
                    $.ajax({
                        url: '/Home/GetFoodCate',
                        type: 'post',
                        data: {id:cateId}
                    })

                    //$.ajax({
                    //    url: '/Home/FoodMenu',
                    //    type: 'Post',
                    //    //success: 
                        //})
                })
            }
        })
    })
</script>
<script>
    
</script>*@