@{
    ViewBag.Title = "Home Page";
}

<div id="WebMenu">
    
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Home/FoodMenu/GetFoodCate',
            type: 'get',
            success: function (html) {
                $("#WebMenu").html(html)


                $("#add-btn").click(function () {
                    var id = $(this).parents("tr").find("#foodItemId").html();
                    console.log(id);
                    $.ajax({
                        url: '/Home/AddOrder',
                        type: 'Post',
                        data: { id: itemId },
                        success: function (result) {
                            $("#craigs-model").modal("show");
                            $("#FoodId").val(result.FoodId).show();
                            $("#FoodName").val(result.FoodName);
                            $("#myDropdown").show();
                        }
                    })

                    //$.ajax({
                    //    url: '/Home/FoodMenu',
                    //    type: 'Post',
                    //    //success: 
                        //})
                })
            }
        })
    })
</script>
<script>
    
</script>